#table
	div.table
		if table.previousButtonEnabled
			a(href=table.previousButtonUrl).table__nav-button.table__nav-button--active <
		else
			div.table__nav-button.table__nav-button--inactive <
		
		div.table__rows
			div.table__row.table__row--border
				each title in table.columnTitles
					div.table__cell.table__cell--header= title
			each row in table.rows
				div.table__row.table__row--border
					each value in row
						div.table__cell.table__cell--item= value

		if table.nextButtonEnabled
			a(href=table.nextButtonUrl).table__nav-button.table__nav-button--active >
		else
			div.table__nav-button.table__nav-button--inactive >