extends includes/template.pug

block content
	div.card
		header.card__header
			h2.card__title Products
		div.table
			div.table__row.table__row--border
				div.table__cell.table__cell--header Name
				div.table__cell.table__cell--header Price
				div.table__cell.table__cell--header Vendor
				div.table__cell.table__cell--header Product Id
			each product in products
				div.table__row.table__row--border
					div.table__cell.table__cell--item= product.name
					div.table__cell.table__cell--item $$#{product.price}
					div.table__cell.table__cell--item= product.vendor
					div.table__cell.table__cell--item= product.productId