extends includes/template.pug

include mixins/table.pug

block content
	div.card
		header.card__header
			h2.card__title Most Recent Orders
		+table(orderTable)

	div.card
		header.card__header
			h2.card__title Most Recent Products
		+table(productTable)

	div.card
		header.card__header
			h2.card__title Most Recent Customers
		+table(customerTable)