doctype html
html
	head
		meta(charset='utf-8')
		title Main Page
		link(rel='stylesheet' href='/dist/style.css')
	body
		nav.navbar.flex.flex--apart
			h1.navbar__title Inventory Sys
			form(method="post" action="logout")
				button(type="submit").navbar__logout Logout
		div.content
			aside.sidebar
				ul.list
					li.list__item Dashboard
					li.list__item Products
					li.list__item Customers
			main.main.container
				div.card
					header.card__header
						h2.card__title Products
					div.table
						div.table__row.table__row--border
							div.table__cell.table__cell--header Name
							div.table__cell.table__cell--header Price
							div.table__cell.table__cell--header Vendor
							div.table__cell.table__cell--header Product Id
						each product in products
							div.table__row.table__row--border
								div.table__cell.table__cell--item= product.name
								div.table__cell.table__cell--item= product.price
								div.table__cell.table__cell--item= product.vendor
								div.table__cell.table__cell--item= product.productId