extends includes/template.pug

block content

	div.card
		header.card__header
			h2.card__title Profile

		div.card__contents
			div.label-row
				div.label-row__label Username
				div.label-row__content= username

			div.label-row
				div.label-row__label First Name
				div.label-row__content= firstName

			div.label-row
				div.label-row__label Last Name
				div.label-row__content= lastName