// Colors
$wisteria: #9B59B6; // Purple
$light-wisteria: #BE90D4; // Light Purple
$white: #fff;
$black: #000;

// Layout dimensions
$navbar-height: 80px;
$bottom-spacing: 20px;

$spacing-small: 10px;
$spacing-medium: 20px;

// Font sizes
$font-size-1: 40px;
$font-size-2: 32px;
$font-size-3: 24px;
$font-size-4: 16px;
$font-size-5: 12px;
