@import 'constants';

.button {
	font-size: $font-size-3;
	color: $white;
	background-color: $wisteria;
	display: inline-block;
	cursor: pointer;
	padding: $spacing-small;
	margin-bottom: $spacing-medium;
}

.button--submit {
	border: none;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $spacing-medium;
	display: block;
}