@import 'constants';

// for .list block

.list {
	margin: 0 10px;
}

.list__header {
	$color: $black;
	font-size: $font-size-3;
	border-bottom-style: solid;
	border-bottom-color: $wisteria;
	border-bottom-width: 2px;
	padding: 10px 0;
}

.list .list__row {
	color: $black;
	font-size: $font-size-4;
	padding: 10px;

	&:not(:last-child) {
		border-bottom-style: solid;
		border-bottom-color: $wisteria;
		border-bottom-width: 2px;
	}
}