@import 'constants';

.navbar {
	background-color: $wisteria;
	color: $white;
	height: $navbar-height;
	//margin-bottom: $spacing-medium;
}

.navbar__title {
	line-height: $navbar-height;
	font-size: $font-size-1;
	padding-left: $spacing-medium;
}

.navbar__logout {
	color: white;
	font-size: $font-size-4;
	border: none;
	background: none;
	padding-right: $spacing-medium;
	text-decoration: underline;
	cursor: pointer;
}